/* navbar */
.navbar-default {
    background-color: #4CAF50;
    border-color: #FFFFFF;
    border: none;
    padding: 0.5em;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li {
    background-color: #388E3C;
    margin-right: 0.5em;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #C8E6C9;
    background-color: #388E3C;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #388E3C;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #C8E6C9;
    border-bottom-color: #C8E6C9;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > .dropdown-menu {
    background: #4CAF50;
}
.navbar-default .navbar-nav > .open > .dropdown-menu  > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > .dropdown-menu  > li > a:hover {
    color: #C8E6C9;
    background-color: #388E3C;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #388E3C;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav > li {
        background-color: #4CAF50;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FFFFFF;
    }
}
